h1 {
    text-align:center;
    color:#33cc00;
}
h3 {
    text-align:center;
    color:#33cc00;
}
html {
    background: -webkit-linear-gradient(left, rgba(148, 15, 178,1), rgba(0,255,255,1));
}
div {
    color:rgb(255,255,255);
}
p {
    color:rgb(255,255,255);
}
<<<<<<< HEAD
@media (max-width: 439px) {
    #taco {
        width:350px;
    }
}


=======
@media (max-width: 400px){
    #taco {
    width:100%;
    }
}
>>>>>>> origin/master
