h1 {
    text-align:center;
    color:#33cc00;
}
h3 {
    text-align:center;
    color:#33cc00;
}
html {
    background: -webkit-linear-gradient(left, rgba(148, 15, 178,1), rgba(0,255,255,1));
}
div {
    color:white;
}
p {
    color:white;
}
@media (max-width: 502px){
    #taco {
    width:100%;
    }
}
@media (max-width: 439px) and (min-width: 354px){
    h3 {
    font-size: 15px;
    }
    h1 {
    font-size: 25px;
    }
}
@media (max-width: 355px){
    h3 {
    font-size: 10px;
    }
    h1 {
    font-size: 20px;
    }
    p {
    font-size: 9px
    }
    div {
    font-size: 9px
    }
}
@media (max-width: 308px){
    audio {
    width:100%;
    }
}